<header class="header">
  <div class="header__img">
    <a href="/">
      <img src="{{ site.baseurl }}/img/todd.jpg" alt="Todd Motto">
    </a>
  </div>
  <div class="header__bio">
    <p>
      Developer Advocate <a href="http://www.telerik.com/">@Telerik</a>. Founder of <a href="http://voux.io">Voux</a>. 
      JavaScript, Angular, React, conference speaker. Developer Expert 
      at <a href="//developers.google.com/experts/people/todd-motto">Google</a>, open source lover.
    </p>
  </div>
  <div class="header__follow">
    <a href="https://twitter.com/toddmotto" class="twitter-follow-button" data-show-count="true"></a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  </div>
</header>
<nav class="nav">
  <ul>
    <li>
      <a href="/">Posts</a>
    </li>
    <li>
      <a href="/about.html">
        About
      </a>
    </li>
    <li>
      <a href="/speaking.html">
        Speaking
      </a>
    </li>
    <!-- <li>
      <a href="/open-source.html">
        Open Source
      </a>
    </li> -->
    <li>
      <a href="//voux.io">
        <img src="{{ site.baseurl }}/img/icons/angular.svg" alt="" style="width: 20px;">
        Training & Workshops
      </a>
    </li>
  </ul>
</nav>
<div class="courses">
  <a href="//courses.toddmotto.com?utm_source=toddmotto.com" target="_blank">
    <img class="courses__logo" src="{{ site.baseurl }}/img/courses-logo.png" alt="">
    <h3>
      Fully master AngularJS with my online courses
    </h3>
    <p>
      Master components, architecture, advanced directives, ui-router, forms and validation, testing and much more.
    </p>
    <p>
      Starter available now, pre-order Master to grab the exclusive offer.
    </p>
    <button type="button">
      See the packages
    </button>
  </a>
</div>
