<header class="header">
  <div class="header__img">
    <a href="/">
      <img src="{{ site.baseurl }}/img/todd.jpg" alt="Todd Motto">
    </a>
  </div>
  <div class="header__bio">
    <p>
      I'm Todd, a Developer Advocate <a href="http://www.telerik.com/">@Telerik</a>. 
      Co-Founder of <a href="https://ultimateangular.com">@UltimateAngular</a>
      Creator of the <a href="http://ngmigrate.telerik.com">Angular 2 migration guide</a>. JavaScript, Angular, React, conference speaker. 
      Developer Expert at <a href="//developers.google.com/experts/people/todd-motto">Google</a>.
    </p>
    <a href="https://twitter.com/toddmotto" class="twitter-follow-button" data-show-count="true"></a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  </div>
</header>
<nav class="nav">
  <ul>
    <li>
      <a href="/">Posts</a>
    </li>
    <li>
      <a href="/about.html">
        About
      </a>
    </li>
    <li>
      <a href="/speaking.html">
        Speaking
      </a>
    </li>
    <li>
      <a href="https://github.com/toddmotto/angular-styleguide">
        Styleguide
      </a>
    </li>
    <li>
      <a href="http://ngmigrate.telerik.com">
        ngMigrate
      </a>
    </li>
    <li>
      <a href="//courses.toddmotto.com">
        <img src="{{ site.baseurl }}/img/icons/angular.svg" alt="" style="width: 20px;">
        Online training
      </a>
    </li>
  </ul>
</nav>
<div class="courses">
  <a class="courses__out" href="https://ultimateangular.com?utm_source=toddmotto.com" target="_blank">
    <div class="courses__a1"></div>
    <div class="courses__a2"></div>
    <img class="courses__logo" src="{{ site.baseurl }}/img/courses-logo.png" alt="">
    <h3>
      Master Angular 1.x and Angular 2 with me online
    </h3>
    <p>
      Limited Angular 2 preorders now available.<br>Master the latest Angular 1.5 components, or dive straight into mastering Angular 2
    </p>
    <button type="button">
      See the packages
    </button>
  </a>
  <script>
    (function () {
      var banner = document.querySelector('.courses__out');
      if (!banner) return;
      var url = window.location.pathname;
      banner.href = banner.href + url;
    })();
  </script>
</div>
