/*
 * WRAPPER
 */
.wrapper {
  width: 96%;
  max-width: 980px;
  margin: 0 auto;
}

/*
 * BUTTON
 */
.button {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #b1b1b1;
  border: 1px solid rgba(0,0,0,0.15);
  padding: 13px 23px 13px 26px;
  border-radius: 26px;
  &:hover {
    border-color: rgba(0,0,0,0.25);
    color: #777;
  }
  img {
    width: 18px;
  }
}


/*
 * HEADER
 */
.header {
  padding: 50px 0;
  z-index: 5;
  text-align: center;
  color: #aaa;
  a {
    color: #fff;
  }
  &__img {
    img {
      max-width: 90px;
      border-radius: 50%;
    }
  }
  &__bio {
    max-width: 500px;
    margin: 25px auto;
  }
  &__follow {
    height: 26px;
  }
}

/*
 * NAV
 */
.nav {
  font-family: 'Montserrat', sans-serif;
  border-radius: 3px 3px 0 0;
  background: #252525;
  text-align: center;
  text-transform: uppercase;
  ul {
    margin: 0;
  }
  li {
    display: inline-block;
    @media screen and (max-width: 500px) {
      width: 100%;
    }
  }
  a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 30px 15px;
    font-size: 14px;
    @media screen and (max-width: 500px) {
      padding: 15px 0;
    }
    &:hover {
      color: #999;
    }
  }
}

/**
 * FOOTER
 */
.footer {
  margin: 50px 0;
  text-align: center;
  color: #aaa;
  &__copyright {
    margin: 0 0 10px;
  }
  &__links {
    ul {
      margin: 0;
      padding: 0;
    }
    li {
      display: inline-block;
      margin: 0 5px;
      a {
        display: block;
        img {
          opacity: .8;
          width: 18px;
        }
      }
    }
  }
}

/**
 * POSTS
 */
.posts {
  margin: 0 5%;
}
.post {
  margin: 0 0 80px;
  &.single {
    margin: 0 5%;
  }
  &__header {
    text-align: center;
  }
  &__title {
    @media screen and (max-width: 850px) {
      font-size: 34px;
    }
    @media screen and (max-width: 500px) {
      font-size: 28px;
    }
    a {
      color: #444;
      text-decoration: none;
      &:hover {
        color: #888;
      }
    }
  }
  &__content {
    margin: 25px 0;
  }
  &__ad {
    margin: 0 0 25px;
    @media screen and (max-width: 380px) {
      display: none;
    }
  }
  &__meta {
    font-size: 14px;
    color: #b1b1b1;
    font-style: italic;
    a {
      color: $green;
    }
  }
  &__button {
    text-align: center;
    margin: 25px 0 0;
  }
}

.pagination {
  color: #fff;
  background: #252525;
  text-align: center;
  margin: 0 -90px -90px;
  padding: 40px 20px;
  font-family: 'Montserrat', serif;
  text-transform: uppercase;
  @media screen and (max-width: 860px) {
    margin: 0 -40px -40px;
  }
  @media screen and (max-width: 500px) {
    margin: 0 -15px -15px;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: inline-block;
      margin: 0 10px 0 0;
      a {
        color: #999;
        transition: color 0.2s ease-in-out;
        &:hover {
          color: #fff;
        }
      }
    }
  }
}

.content {
  background: #fff;
  padding: 90px;
  overflow-x: hidden;
  @media screen and (max-width: 850px) {
    padding: 50px 40px;
  }
  @media screen and (max-width: 500px) {
    padding: 45px 15px;
  }
}

/**
 * AUTHOR
 */
.author {
  border-top: 1px solid #f5f5f5;
  padding: 60px 90px;
  margin: 90px -90px;
  &__content {
    margin: 0 5%;
  }
}

/**
 * SIMILAR
 */
.similar {
  background: #f5f5f5;
  padding: 60px 90px;
  margin: 90px -90px;
  &__content {
    margin: 0 5%;
  }
  &__title {
    margin: 0;
  }
  &__icon {
    position: absolute;
    top: 40px;
    left: 0;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    img {
      margin: 8px 0 0;
    }
  }
  &__posts {
    li {
      position: relative;
      border-bottom: 1px solid rgba(0,0,0,.1);
      &:last-child {
        border-bottom: 0;
      }
      a {
        color: #444;
        display: block;
        padding: 25px 0 25px 65px;
        &:hover {
          color: #888;
        }
        h3 {

        }
        p {

        }
      }
    }
  }
}

/**
 * SIGNUP
 */
.signup {
  background: #f5f5f5;
  padding: 60px 90px;
  margin: 90px -90px;
  @media screen and (max-width: 850px) {
    padding: 30px 40px;
    margin: 40px -40px;
  }
  @media screen and (max-width: 500px) {
    padding: 30px 15px;
    margin: 15px -15px;
  }
  #mc_embed_signup {
    margin: 0 5%;
  }
  &__title {
    margin: 0;
  }
  &__sub {
    font-size: 15px;
  }
  form {
    overflow: hidden;
    input.email {
      font-size: 14px;
      float: left;
      max-width: 500px;
      width: 65%;
      border-radius: 150px;
      height: 40px;
      border: 1px solid #e5e5e5;
      padding: 10px 15px;
      @media screen and (max-width: 550px) {
        width: 100%;
      }
      &:focus {
        border-color: darken(#e5e5e5, 10%);
      }
    }
    button {
      position: relative;
      font-family: 'Montserrat', sans-serif;
      text-transform: uppercase;
      cursor: pointer;
      font-size: 14px;
      float: left;
      max-width: 150px;
      width: 30%;
      border-radius: 150px;
      background: $green;
      border: 0;
      height: 40px;
      padding: 10px 35px 10px 15px;
      margin: 0 0 0 10px;
      color: $white;
      @media screen and (max-width: 550px) {
        margin: 10px 0 0;
        width: 100%;
      }
      &:hover {
        background: darken($green, 5%);
      }
      img {
        position: absolute;
        top: 8px;
        right: 15px;
      }
    }
  }
}

.embed {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.about__talk {
  margin: 30px 0;
  img {
    max-width: 100%;
    border-radius: 3px;
  }
}

.share {
  text-align: center;
  margin: 0 0 90px;
}

#pagination {
  overflow: hidden;
  &-prev {
    float: left;
  }
  &-next {
    float: right;
  }
}

#carbonads-container {
  margin: 0 15px 0;
  @include media-query($tablet) {
    margin: 0 auto 15px;
  }
}

.carbonad {
  margin: 0 auto;
}

.twitter-follow-button {
  visibility: hidden;
  &[data-twttr-rendered=true] {
    visibility: visible;
  }
}

table {
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  border-collapse: inherit;
  border-spacing: 0;
  border-color: inherit;
  vertical-align: inherit;
  text-align: left;
  font-weight: inherit;
  -webkit-border-horizontal-spacing: 0;
  -webkit-border-vertical-spacing: 0;
  th {
    padding: 5px 15px;
    text-align: left;
    background: #252525;
    color: #fff;
  }
  tr {
    &:nth-child(2n) {
      background: #f5f5f5;
    }
  }
  td {
    padding: 5px 15px;
  }
}
