<!doctype html>
<html>
  {% include head.html %}
  <body>    
    {% include header.html %}
    <main class="content">
      <div class="card">      
        <div class="courses">
          <a class="courses__out" href="https://ultimateangular.com?utm_source=toddmotto.com" target="_blank">
            <div class="courses__a1"></div>
            <div class="courses__a2"></div>
            <img class="courses__logo" src="{{ site.baseurl }}/img/courses-logo.png" alt="">
            <h3>
              Master Angular 1.x and Angular 2 with me online
            </h3>
            <p>
              Limited Angular 2 preorders now available.<br>Master the latest Angular 1.5 components, or dive straight into mastering Angular 2
            </p>
            <button type="button">
              See the packages
            </button>
          </a>
          <script>
            (function () {
              var banner = document.querySelector('.courses__out');
              if (!banner) return;
              var url = window.location.pathname;
              banner.href = banner.href + url;
            })();
          </script>
        </div>
        
        <div class="card__content">
          {{ content }}
        </div>
      </div>
      {% include footer.html %}
    </main>
  </body>
</html>
